<style type="text/css">
    #tinybox {
        position: absolute;
        display: none;
        background: #ffffff url('/public/image/preload.gif') no-repeat 50% 50%;
        z-index: 2000;
    }

    #tinymask {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #000000;
        z-index: 1500;
    }

    #tinycontent {
        background: #ffffff;
        font-size: 1.1em;
    }
</style>

<div class="col-md-3"><input type="text" ng-model="picUrl" readonly class="form-control" placeholder="url"></div>
<div class="col-md-1" style="margin:5px -10px 0">
    <button type="button" class="btn btn-default" id="{{uploadId}}">添加</button>
</div>
<div class="col-sm-1 zxx_list_title" id="click_test2" style="margin:5px -10px 0">
    <button type="button" class="btn btn-default">预览</button>
</div>
<div id="tinyboxId" style="display: none;"><img width='640px' src='#'/></div>

<script type="text/javascript" src="/public/js/tinybox.js"></script>